<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a routerLink="/dashboard" class="app-brand-link">
      <span class="app-brand-text demo menu-text fw-bolder ms-2"
        ><img
          src="../../../../assets/assets/img/logo/logo.jpg"
          alt=""
          srcset=""
      /></span>
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
    >
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'Dashboard' }"
      (click)="activeMenu = 'Dashboard'"
    >
      <a routerLink="dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>Dashboard</div>
      </a>
    </li>

    <!-- Users -->
    <li
      class="menu-item"
      *ngIf="user?.role == 'admin'"
      [ngClass]="{ active: activeMenu === 'users' }"
      (click)="activeMenu = 'users'"
    >
      <a routerLink="users" class="menu-link">
        <i class="bi bi-people"></i>
        <div class="menu-title">Gestion des comptes</div>
      </a>
    </li>
    <!-- all products -->
    <li
      class="menu-item"
      *ngIf="user?.role == 'admin'"
      [ngClass]="{ active: activeMenu === 'section' }"
      (click)="activeMenu = 'section'"
    >
      <a routerLink="sections" class="menu-link">
        <i class="bi bi-tags"></i>
        <div class="menu-title">Gestion des sections</div>
      </a>

      <!-- all courses  -->
    </li>

    <li
      class="menu-item"
      *ngIf="user?.role == 'admin'"
      [ngClass]="{ active: activeMenu === 'course' }"
      (click)="activeMenu = 'course'"
    >
      <a routerLink="courses" class="menu-link">
        <i class="bi bi-tags"></i>
        <div class="menu-title">Gestion des matières</div>
      </a>
      <!-- all products -->
    </li>

    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'vidoes' }"
      (click)="activeMenu = 'vidoes'"
      *ngIf="user?.role == 0 || user?.role == 1"
    >
      <a routerLink="videos" class="menu-link">
        <i class="bi bi-camera-reels"></i>
        <div class="menu-title">Gestion des vidoes</div>
      </a>
    </li>
    <li
      class="menu-item"
      *ngIf="user?.role == 0 || user?.role == 1"
      [ngClass]="{ active: activeMenu === 'documents' }"
      (click)="activeMenu = 'documents'"
    >
      <a routerLink="allDocs" class="menu-link">
        <i class="bi bi-file-earmark-medical"></i>
        <div class="menu-title">Gestion des documents</div>
      </a>
    </li>

    <li
      class="menu-item"
      *ngIf="user?.role == 'admin'"
      [ngClass]="{ active: activeMenu === 'quotes' }"
      (click)="activeMenu = 'quotes'"
    >
      <a routerLink="quotes" class="menu-link">
        <i class="bi bi-file-earmark-medical"></i>
        <div class="menu-title">Gestion des quotes</div>
      </a>
    </li>

    <!-- my section -->
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'mySection' }"
      (click)="activeMenu = 'mySection'"
    >
      <a routerLink="sections/my-section" class="menu-link">
        <i class="bi bi-stack"></i>
        <div class="menu-title">Ma Section</div>
      </a>
    </li>

    <!-- vidss -->
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'Videos' }"
      (click)="activeMenu = 'Videos'"
    >
      <a routerLink="vids" class="menu-link">
        <i class="bi bi-play-btn"></i>
        <div class="menu-title">Videos</div>
      </a>
    </li>
    <!-- docs -->
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'Doc' }"
      (click)="activeMenu = 'Docs'"
    >
      <a routerLink="docs" class="menu-link">
        <i class="bi bi-briefcase"></i>
        <div class="menu-title">Documents</div>
      </a>
    </li>

    <!-- vidss -->
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'dictionary' }"
      (click)="activeMenu = 'dictionary'"
    >
      <a routerLink="dictionary" class="menu-link">
        <i class="bi bi-book-half"></i>
        <div class="menu-title">Dictionaires</div>
      </a>
    </li>
    <li
      class="menu-item"
      [ngClass]="{ active: activeMenu === 'sites' }"
      (click)="activeMenu = 'sites'"
    >
      <a routerLink="sites" class="menu-link">
        <i class="bi bi-globe"></i>
        <div class="menu-title">Sites Utiles</div>
      </a>
    </li>
  </ul>
</aside>
