<p>Ajouter un Video</p>
<div class="col-8">
  <form action="">
    <div class="input-form">
      <label for="file">video</label
      ><input
        type="file"
        id="file"
        class="form-control"
        name="password"
        (change)="onVideoSelected($event)"
      />
    </div>

    <div class="title">
      <label for="firstName">Titre</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        name="firstName"
        [(ngModel)]="video.title"
      />
    </div>

    <div class="descriptions">
      <div>
        <label class="form-label" for="description">Decriptions</label>
        <textarea
          [(ngModel)]="video.description"
          class="form-control"
          name="description"
          id="description"
          rows="3"
          style="height: 84px"
        ></textarea>
      </div>
    </div>

    <div class="col-4">
      <label for="level">Niveau</label>
      <select class="form-control" name="level" id="level">
        <option value="bac">Baccalauréat</option>
        <option value="licence">Licence</option>
        <option value="master">Mastère</option>
        <option value="doctorat">Doctorat</option>
      </select>
    </div>

    <div class="col-8">
      <label for="level">Section</label>
      <select
        class="form-control"
        name="level"
        id="level"
        [(ngModel)]="video.description"
      >
        <option *ngFor="let item of sections" [value]="item._id">
          {{ item.title }}
        </option>
      </select>
    </div>

    <div class="category col-6">
      <label for="category">Matière</label>
      <select
        class="form-control"
        name="category"
        id="category"
        [(ngModel)]="video.course"
      >
        <option *ngFor="let item of courses" [value]="courses._id">
          {{ item.title }}
        </option>
      </select>
    </div>

    <div class="col-6">
      <label for="playlist">Plyalist</label>
      <select
        class="form-control"
        name="playlist"
        id="playlist"
        [(ngModel)]="video.playlist"
      >
        <option *ngFor="let playlist of playlists" [value]="playlist._id">
          {{ playlist.title }}
        </option>
      </select>
    </div>

    <div class="tags">
      <label for="tags">Tags</label
      ><input
        type="text"
        class="form-control"
        name="tags"
        id="tags"
        [(ngModel)]="video.tags"
      />
    </div>

    <div class="buttons-form">
      <button type="button" class="btn btn-success mt-3" (click)="addVideo()">
        Ajouter
      </button>
      <button
        type="button"
        class="btn btn-secondary mt-3"
        (click)="cancelAddVideo()"
      >
        Annuler
      </button>
    </div>
  </form>
</div>
