<div class="container">
  <!-- Banner Section -->
  <div class="banner bg-primary text-white text-center py-5">
    <h1>Bienvenue dans la page de votre section</h1>
    <p>Améliorez vos connaissances avec nos cours sélectionnés</p>
  </div>

  <!-- Section Header with Image and Name -->
  <div class="section-header text-center my-5">
    <h2 class="section-name">{{ section?.title }}</h2>
  </div>

  <!-- Courses Section -->
  <div class="row">
    <!--add course--->
    <div class="col-md-4">
      <div class="course card mb-4 bg-info">
        <div class="card-body">
          <h5 class="card-title">Ajouter un Cours</h5>
          <p class="card-text">Description of course 1.</p>
          <a (click)="addCourse()" class="btn btn-primary">Ajouter</a>
        </div>
      </div>
    </div>
    <!-- Column 1 -->
    <div class="col-md-4">
      <div class="course card mb-4">
        <div class="card-body">
          <h5 class="card-title">Course 1</h5>
          <p class="card-text">Description of course 1.</p>
          <a href="#" class="btn btn-primary">Documents</a>
          <a href="#" class="videos btn btn-secondary">Vidéos</a>
        </div>
      </div>
    </div>
  </div>
</div>
