.banner {
    // background-image: url('assets/banner-image.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }

  
  .course .card-body {
    text-align: center;
  }
  
  .course .btn {
    margin-top: 10px;
  }


  .videos{
    margin-left:15px;

  }
  