
  
  /* Scrollbar Styles */
  .notification-banner::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .notification-banner::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  .notification-banner::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f1f1f1; /* Padding around thumb */
  }
  
  .notification-banner::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
  }
  
  .notification-header {
    background-color: #f0f0f0;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .notification-header h4 {
    margin: 0;
  }
  
  .notification-body {
    padding: 5px;
    font-size: 12px;
  }
  
  .notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .notification-item {
    padding: 10px;
    border-bottom: 1px solid #dfdede;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .notification-item i {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
  }
  
  .notification-item:hover {
    background-color: #dfdede;
  }
  
  .notification-message {
    color: #333;
    flex-grow: 1; /* Ensure message takes up available space */
  }
  
  .info {
    font-size: 10px;
    color: #888;
    margin-left: auto;
  }
  
  /* Firefox scrollbar styles */
  @-moz-document url-prefix() {
    .notification-banner {
      scrollbar-width: thin; /* Thin scrollbar */
      scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
    }
  }
  
  .no-notif {
    font-size: 16px;
    padding: 0px 10px;
  }
  
  .navbar-item , .quick-nav {
    margin-right: 15px;
    background-color: rgb(235, 234, 234);
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; /* Ensure the hover-menu is positioned relative to the navbar-item */
  }
  
  .navbar-item a i {
    color: black;
  }
  
  .navbar-item:hover {
    background-color: rgb(210, 208, 208);
  }
  
  .hover-menu {
    display: none;
    font-size: 16px;
    position: absolute; /* Position the hover-menu */
    top: 100%; /* Position it below the navbar-item */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 0px 6px;
    border-radius: 12px;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .navbar-item:hover .hover-menu {
    display: block;
  }
  
  .badge-notification {
    position: absolute;
    top: 5px;
    right: 0;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
  }
  

  //seach 
  .seach-input{
    width: 400px;
    border: none;
    border-radius: 15px;
    padding: 8px 15px 8px 35px;
    background-color: rgb(235, 234, 234);

  }

  .search{
    position:relative;
    margin-left: 100px;
  }

  .search i{
    position:absolute;
    left:10px;
    top: 5px;
    font-weight: bold;
    font-size: 18px;
  }



//-----quick access ---- /////
.quick-access{
  position:relative;
}

.quick-nav i{
  font-size:24px;
  color: black;
}