
// .video-play-card {
//     /* Your existing styles */
//   }
  
  .video-title {
    margin-bottom: 0.5rem; /* Adjust as needed */
  }
  
  .video-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .video-detail .author {
    display: flex;
    align-items: center;
  }
  
  .video-detail .author img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image circular */
    margin-right: 0.5rem; /* Adjust spacing as needed */
  }
  
  .video-detail2 {
    display: flex;
    align-items: center;
  }
  
  .likes, .addFav {
    display: flex;
    align-items: center;
    margin-left: 1rem; /* Adjust spacing as needed */
  }

  .likes , .addFav , .subscribe{
    border-radius: 12px;
    padding: 3px 15px;
    background-color: #e7e7e7;
    font-size: 16px;
  }
  
  .likes i, .addFav i {
    margin-right: 0.25rem; /* Adjust spacing as needed */
    cursor: pointer;
  }

  
  .likes span, .addFav span {
    margin-left: 0.25rem; /* Adjust spacing as needed */
  }
  
//   .related-area {
//     /* Your existing styles */
//   }
  
.related-video .video-item {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    margin-bottom: 1rem; /* Space between related videos */
  }
  
  .related-video video {
    margin-right: 1rem; /* Space between video and info */
  }
  
  .related-video .video-info {
    display: flex;
    flex-direction: column;
  }
  
  .related-video .video-info h5 {
    margin: 0 0 0.5rem 0; /* Space between title and author */
    font-size: 1rem; /* Adjust as needed */
  }
  
  .related-video .video-info div {
    color: #777; /* Adjust as needed */
    font-size: 0.9rem; /* Adjust as needed */
  }
  

  video{
    border-radius: 12px;
  }

  //Description
  .video-desc{
    background-color: #e7e7e7;
    border-radius: 12px;
    padding: 10px 15px;
  }

  //subscripe
  .subscribe:hover{
    background-color: #d4d2d2;
    cursor: pointer;


  }