<div class="play-video row">
  <div class="col-8">
    <div class="video-play-card">
      <video
        id="myVideo"
        width="100%"
        height="350px"
        controls
        [src]="'http://localhost:3000/uploads/videos/' + video?.url"
      >
        Your browser does not support the video tag.
      </video>
      <div class="video-title">
        <h3>{{ video?.title }}</h3>
      </div>
      <div class="video-detail">
        <div class="course">
          <span class="p-2">{{ video?.course.title }}</span>
          <span *ngIf="!isSubscribed" class="subscribe" (click)="subscribe()">
            S'abonner
          </span>
          <span
            *ngIf="isSubscribed"
            class="subscribe unsubscribe"
            (click)="confirmUnsubscribe()"
          >
            Abonné
          </span>
        </div>
        <div class="video-detail2">
          <div class="likes">
            <i
              *ngIf="!isLiked"
              class="bi bi-hand-thumbs-up"
              aria-hidden="true"
              (click)="addLike()"
            ></i>
            <i
              *ngIf="isLiked"
              class="bi bi-hand-thumbs-up-fill"
              aria-hidden="true"
              (click)="removeLike()"
            ></i>
            <span>{{ video?.likes }}</span>
          </div>
          <div class="addFav">
            <span *ngIf="!isFav">
              <i class="bi bi-star" (click)="addToFav()"></i> Ajouter aux
              Favoris
            </span>
            <span *ngIf="isFav">
              <i class="bi bi-star-fill" (click)="confirmRemoveFromFav()"></i>
              Rétirer des Favoris
            </span>
          </div>
        </div>
      </div>
      <div class="video-desc">
        <span>{{ video?.views }} vues | {{ video?.date | timeAgo }}</span>
        <p>{{ video?.description }}</p>
      </div>
    </div>
  </div>

  <div class="related-area col-4 p-3">
    <h4>Vidéos associées :</h4>
    <div class="related-video" *ngFor="let item of relatedVideos">
      <div class="video-item">
        <video
          width="120"
          height="60"
          (click)="playVideo(item._id)"
          [src]="'http://localhost:3000/uploads/videos/' + item?.url"
        ></video>
        <div class="video-info">
          <h6>{{ item?.title }}</h6>
          <div>{{ item?.author?.fullName }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Unsubscribe Confirmation Modal -->
<div *ngIf="showUnsubscribeConfirm" class="unsubscribe-confirm">
  <p>Etes-vous sûr de vouloir vous désinscrire ?</p>
  <button class="btn confirm-btn mr-3" (click)="unsubscribe()">Oui</button>
  <button class="btn cancel-btn" (click)="showUnsubscribeConfirm = false">
    Non
  </button>
</div>

<!-- Remove Fav Confirmation Modal -->
<div *ngIf="showRemoveFromFavConfirm" class="removefav-confirm">
  <p>Etes-vous sûr de vouloir rétirer des Favoris ?</p>
  <button class="btn confirm-btn mr-3" (click)="removeFromFav()">Oui</button>
  <button class="btn cancel-btn" (click)="showRemoveFromFavConfirm = false">
    Non
  </button>
</div>
