/* You can add global styles to this file, and also import other style files */
a{
    cursor: pointer;
}

form div{
    margin-top: 20px;
}

.buttons-form{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

//Tables
td img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}