<div class="admin-quick-access-banner">
  <div class="column">
    <h3><i class="bi bi-people"></i> Users</h3>
    <ul>
      <li>View Users</li>
      <li>Add User</li>
      <li>Edit User</li>
      <li>Delete User</li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-file-earmark-text"></i> Documents Management</h3>
    <ul>
      <li>View Documents</li>
      <li>Add Document</li>
      <li>Edit Document</li>
      <li>Delete Document</li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-camera-video"></i> Video Management</h3>
    <ul>
      <li>View Videos</li>
      <li>Add Video</li>
      <li>Edit Video</li>
      <li>Delete Video</li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-book"></i> Books Management</h3>
    <ul>
      <li>View Books</li>
      <li><a (click)="addBook()">Add Book</a></li>
      <li>Edit Book</li>
      <li>Delete Book</li>
    </ul>
  </div>
</div>
