<div class="admin-quick-access-banner">
  <div class="column">
    <h3><i class="bi bi-people"></i> Gestions des utilisateurs</h3>
    <ul>
      <li><a (click)="AllUsers()">Tous les utilisateurs</a></li>
      <li>Add User</li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-file-earmark-text"></i> Gestions des documents</h3>
    <ul>
      <li>View Documents</li>
      <li><a (click)="AddDoc()">Ajouter un document</a></li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-camera-video"></i> Gestions des Videos</h3>
    <ul>
      <li><a (click)="allVideos()">Add Video</a></li>
      <li><a (click)="addVideo()">Add Video</a></li>
    </ul>
  </div>
  <div class="column">
    <h3><i class="bi bi-book"></i> Gestions des livre</h3>
    <ul>
      <li><a (click)="allBooks()">Tous les livres</a></li>
      <li><a (click)="addBook()">Add Book</a></li>
    </ul>
  </div>
</div>
