<div class="container-xxl flex-grow-1 container-p-y">
  <!----search -->
  <div class="input-group mb-3 col-12 col-md-6 col-lg-4">
    <input
      type="text"
      class="form-control"
      placeholder="Rechercher des vidéos..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="searchVideos()"
    />
    <div class="input-group-append">
      <button class="btn btn-info" type="button" (click)="searchVideos()">
        Rechercher
      </button>
    </div>
  </div>
  <!----fin search -->

  <div class="categories">
    <span [ngClass]="{ active: selectedCourse === null }">
      <a (click)="filterByCourse('')">Tous</a>
    </span>
    <span
      *ngFor="let item of courses"
      [ngClass]="{ active: selectedCourse === item._id }"
    >
      <a (click)="filterByCourse(item._id)">{{ item?.title }}</a>
    </span>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3" *ngFor="let item of allVideos">
      <div class="video-card">
        <div class="video-container" (click)="playvideo(item._id)">
          <div class="video-wrapper">
            <video
              [src]="'http://localhost:3000/uploads/videos/' + item.url"
              class="card-video"
            ></video>
            <i class="bi bi-play-circle-fill"></i>
          </div>
        </div>
        <h5 class="video-title">{{ item?.title }}</h5>
        <div class="author">
          <img
            [src]="'http://localhost:3000/uploads/' + item?.author?.imageUrl"
            alt=""
            class="author-img"
          />
          <span class="author-name">{{ item?.author.fullName }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
