/* Search bar */
.input-group {
  margin-bottom: 20px;
}

.input-group .form-control {
  border-radius: 0.25rem;
}

.input-group .btn-info {
  border-radius: 0.25rem;
}

/* Categories */
.categories {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.categories span {
  background-color: #222;
  color: #f0f0f0;
  border-radius: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.categories span:hover {
  background-color: #676767;
  cursor: pointer;
}

.categories .active {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* Video card */
.video-card {
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
  border-radius: 12px;

}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the container */
}

.video-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);
  display: none;
}

.video-container:hover i {
  display: block;
}

.video-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.info {
  display: flex;
  justify-content: space-between;
}




